# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class
.pyc

# ========================
# Ambiente virtual
# ========================
venv/
env/
.venv/
ENV/

# ========================
# Flask / SQLite
# ========================
*.db
*.sqlite3
instance/

# ========================
# Cache / Temporários
# ========================
.cache/
.pytest_cache/
.mypy_cache/

# ========================
# Logs
# ========================
*.log

# ========================
# Sistema operacional
# ========================
.DS_Store
Thumbs.db

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Build / Distribuição
# ========================
build/
dist/
*.egg-info/